@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@font-face {
	font-family: "National Park";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/NationalPark-ExtraBold.woff2") format("woff2");
	font-display: swap;
}

html,
body {
	@apply bg-[url(/images/home-background.webp)] bg-cover bg-fixed bg-center bg-no-repeat;
	@apply m-0 box-border overflow-x-hidden p-0;
	height: 100%;
	width: 100%;
	overscroll-behavior: none;
	font-family: "National Park", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

@layer base {
	p {
		font-size: var(--text-2xl);
	}

	h1 {
		font-size: var(--text-4xl);
	}

	h2 {
		font-size: var(--text-3xl);
	}
}
