@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@layer components {
	.navbar-item {
		@apply text-2xl font-medium text-orange-500 hover:text-orange-600 hover:overline md:text-3xl;
	}
	.text-bg {
		@apply inline-block max-w-fit overflow-hidden rounded-[0.5em] bg-black/70 p-[0.5em] whitespace-normal;
	}
}

@layer base {
	p {
		font-size: var(--text-2xl);
	}

	h1 {
		font-size: var(--text-4xl);
	}

	h2 {
		font-size: var(--text-3xl);
	}
	a {
		@apply text-purple-500 hover:text-purple-600 hover:underline;
	}
}
