@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@layer components {
	.navbar-item {
		@apply text-2xl font-medium text-orange-500 hover:text-orange-600 hover:overline md:text-3xl;
	}
	.text-bg {
		@apply inline-block max-w-fit overflow-hidden rounded-[0.5em] bg-black/70 p-[0.5em] whitespace-normal;
	}
}
@font-face {
	font-family: "National Park";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/NationalPark-ExtraBold.woff2") format("woff2");
	font-display: swap;
}

html,
body {
	background-image: url("/images/home-background.png");

	background-image: image-set(
		url("/images/home-background.avif") type("image/avif"),
		url("/images/home-background.webp") type("image/webp"),
		url("/images/home-background.png") type("image/png")
	);
	@apply bg-cover bg-fixed bg-center bg-no-repeat;
	@apply m-0 box-border overflow-x-hidden p-0;
	height: 100%;
	width: 100%;
	overscroll-behavior: none;
	font-family: "National Park", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

@layer base {
	p {
		font-size: var(--text-2xl);
	}

	h1 {
		font-size: var(--text-4xl);
	}

	h2 {
		font-size: var(--text-3xl);
	}
}
